masood.json
{
  "name": "google maps scrapper",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1Ueu4bznOvl58PrMMiZG6BfFKadqFGSwF4UAK71GbIMU/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=leads from google",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Phone": "={{ \"'\" + $json.phone }}",
            "Email": "={{ $json.email }}",
            "Website": "={{ $json.website }}",
            "Address": "={{ $json.address }}",
            "Rating": "={{ $json.rating }}",
            "Rating Count": "={{ $json.ratingCount }}",
            "Type": "={{ $json.type }}",
            "Latitude": "={{ $json.latitude }}",
            "Longitude": "={{ $json.longitude }}",
            "Icebreaker": "=",
            "Status ": "New",
            "Date Added": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "Website"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rating Count",
              "displayName": "Rating Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status ",
              "displayName": "Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4ea6b30a-b01b-4df6-94af-9731151984fc",
      "name": "Save emails to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1664,
        112
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MVkyGIE86s4WogJ",
          "name": "testing Dawood google sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://google.serper.dev/maps",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\"q\": \"{{ $json.searchParameters.q }}\", \"page\": 2, \"ll\": \"{{ $json.ll }}\"},\n  {\"q\": \"{{ $json.searchParameters.q }}\", \"page\": 3, \"ll\": \"{{ $json.ll }}\"},\n  {\"q\": \"{{ $json.searchParameters.q }}\", \"page\": 4, \"ll\": \"{{ $json.ll }}\"}\n]",
        "options": {}
      },
      "id": "64eccab6-451e-4eaa-9aa9-dcfef654971f",
      "name": "Search Google Maps pages 2-4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        544,
        112
      ],
      "executeOnce": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zNA5RknbI2hCCSUh",
          "name": "Sarper APi"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://google.serper.dev/maps?q={{ $json['Search Query '] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b2def52f-01ed-4ffd-b63f-b92a8a55a76b",
      "name": "Search Google Maps page 1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        112
      ],
      "executeOnce": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "aw9oc7wSKcA7OK6W",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [...$('Search Google Maps page 1').all(), ...$input.all()];\nconst companies = [];\n\nresults.forEach(item => {\n  if (item.json.places) {\n    item.json.places.forEach(place => {\n      if (place.website) {\n        const company = {\n          name: place.title || '',\n          phone: place.phoneNumber || '',\n          website: place.website,\n          address: place.address || '',\n          rating: place.rating || null,\n          ratingCount: place.ratingCount || null,\n          type: place.type || '',\n          latitude: place.latitude || null,\n          longitude: place.longitude || null\n        };\n        \n        companies.push(company);\n      }\n    });\n  }\n});\n\nreturn companies.map(company => ({json: company}));"
      },
      "id": "cf97a992-06bb-470b-91d3-f6dcebc7fee4",
      "name": "Format maps results",
      "type": "n8n-nodes-base.code",
      "position": [
        768,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "84e08215-2ace-40ef-8f8c-f207894e72ca",
      "name": "Scrape website",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1216,
        32
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = JSON.stringify($json);\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\nconst badDomainPattern = /(google|gstatic|ggpht|schema\\.org|example\\.com|sentry\\.wixpress\\.com|sentry-next\\.wixpress\\.com|ingest\\.sentry\\.io|sentry\\.io|imli\\.com|test\\.com|localhost|domain\\.com|doe\\.com|xyz\\.com|gmail\\.com|godaddy\\.com|housecallpro\\.com|eyebytes\\.com|aol\\.com|yahoo\\.com|email\\.com|setmore\\.com)/;\n\nconst emails = (text.match(emailRegex) || []).filter(email => {\n  const domain = email.split('@')[1].toLowerCase();\n  \n  if (email.includes('.png') || email.includes('.jpg') || email.includes('.avif') || \n      email.includes('.gif') || email.includes('.webp') || email.includes('%20') || \n      email.includes('%')) {\n    return false;\n  }\n  \n  return !badDomainPattern.test(domain);\n}).map(email => email.toLowerCase().trim());\n\nconst uniqueEmails = [...new Set(emails)];\n\nreturn {\n  ...$('Format maps results').item.json,\n  email: uniqueEmails.length > 0 ? uniqueEmails[0] : ''\n};"
      },
      "id": "313c7b42-f493-4a82-bffd-6dc9fba40ef2",
      "name": "Extract emails",
      "type": "n8n-nodes-base.code",
      "position": [
        1440,
        32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "formTitle": "Scape Leads from Google Maps ",
        "formDescription": "Scrape leads by just typing",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Search Query ",
              "placeholder": "Cofee shops in Dubai",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        96,
        112
      ],
      "id": "f8603d97-2fa6-47ee-b02d-5c95c3f7d122",
      "name": "On form submission",
      "webhookId": "a957e5ac-e78d-41f9-a248-f8dfa2d806d6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        992,
        112
      ],
      "id": "841090ca-1007-42bb-b00b-9b59edee4e7d",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Search Google Maps pages 2-4": {
      "main": [
        [
          {
            "node": "Format maps results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google Maps page 1": {
      "main": [
        [
          {
            "node": "Search Google Maps pages 2-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format maps results": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape website": {
      "main": [
        [
          {
            "node": "Extract emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract emails": {
      "main": [
        [
          {
            "node": "Save emails to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Search Google Maps page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Scrape website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save emails to Google Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a08d1bab-02e3-4975-b037-98d5977b3ed0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b5dbaf5e4f548ebeb9fcee1390d79ff90a038905903463fff0e6e866172c9e6"
  },
  "id": "lLINOuzortwNYG30",
  "tags": []
}